{% extends "LinkfloydCoreBundle::layout.html.twig" %}

{% block main %}
    {% for post in posts %}
        {% include '@LinkfloydCore/Post/post_template.html.twig' with {'post':post} %}
    {% endfor %}
    <div class="pagerfanta">
        {{ pagerfanta(posts, 'twitter_bootstrap3') }}
    </div>
{% endblock main %}
