{% extends "LinkfloydCoreBundle::layout.html.twig" %}

{% block main %}
    <div class="content">
        {% include '@LinkfloydCore/Post/partials/post_block.html.twig' with {post: post} %}
    </div>

    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'post_'~post.id} %}
{% endblock main %}
