{% extends "LinkfloydCoreBundle::layout.html.twig" %}

{% block main %}
    <h4>{{ post.detail.title }}</h4>

    <br>
    URL: <a href="{{ post.linkDetail.url}}">{{ post.linkDetail.url}} <small>({{ post.linkDetail.title}})</small></a>
    <br>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'post_'~post.id} %}
{% endblock main %}
